/*
  HEI's blue color codes: #0c4d85 (header/footer), #177fc5 (text)
  HEI's font family: "Barlow Semi Condensed", sans-serif;
 */

/* landing page CSS */
#landing-nav {
  height: 100px;
  width: 100%;
  position: fixed;
  background: #ffffff;
  border-bottom: none;
  box-shadow: none;
}
.fake-menu-item {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black !important;
  font-size: 30px;
  padding-right: 30px;
}

#landing {
  /* Set rules to fill background */
  /*min-height: 100%;*/
  /*min-width: 1024px;*/

  /*!* Set up proportionate scaling *!*/
  /*width: 100%;*/
  /*height: auto;*/

  /*!* Set up positioning *!*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/

  padding-top: 130px;
  /*color: white;*/
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 30px;
  /*background-size: cover;*/
}

#landing-info1 {
  height: 375px;
  padding: 50px;
}

#landing-bottom {
  padding-top: 150px;
}

#greet {
  height: 425px;
  padding: 50px;
  background: url("/images/OahuBackground.jpeg") no-repeat center center;
  /*background-size: cover;*/
}

#sign {
  padding-top: 150px;
  padding-bottom: 125px;
  height: 100%;
  background-color: rgba(12, 77 ,133, 0.8);
  font-family: "Barlow Semi Condensed", sans-serif;
}

#dashboard-container {
  /*padding-top: 20px;*/
  padding: 50px 100px;
  margin-left: 150px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: white;
}

#dashboard-total-row {
  height: 10%;
}

#compare-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 200px;
  padding: 15px 0;
}

#signin-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  width: 100%;
  bottom: 0;
  /*margin-top: 50px;*/
  padding: 15px 0;
}

#community-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  width: 100%;
  bottom: 0;
  margin-top: 200px;
  padding: 15px 0;
}

#landing-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: absolute;
  width: 100%;
  padding: 15px 0;
}

#dashboard-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-top: 200px;
  padding: 15px 0;
}

#daily-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  width: 100%;
  bottom: 0px;
  padding: 15px 0;
}

.link {
  color: #177fc5;
}

/*
Daily Page
light-blue: 3FADE2
mid-blue: 1C7DC1 / 177fc5
dark-blue: 0C4D85
*/
.daily-add-button {
  color: #FFFFFF !important;
  font-size: 20px !important;
  background-color: #0c4d85 !important;
}

.daily-date-item {
  padding: 0 !important;
  color: #0c4d85 !important;
  /*font-weight: 900 !important;*/
}

.daily-date-button {
  /*padding: 35px !important;*/
  margin: 0 !important;
  color: #0c4d85 !important;
  /*font-weight: 900 !important;*/
  background-color: #FFFFFF !important;
}

.daily-arrow-button {
  color: #0c4d85 !important;
  font-size: 16px !important;
  background-color: #FFFFFF !important;
}

.daily-today-button {
  color: #FFFFFF !important;
  font-size: 16px !important;
  background-color: #0c4d85 !important;
}

#daily-top {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #0c4d85 !important;
  font-size: 30px;
  margin: 0 !important;
}

#daily-container {
  font-size: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100vh !important;
}

.daily-table-header {
  color: #1C7DC1 !important;
}

.daily-header-sums {
  color: #0c4d85;
  font-weight: 900 !important;
}

.monthly-sum {
  font-size: 35px;
  font-weight: 700 !important;
}

.daily-table {
  padding-bottom: 15px;
  margin: 0 !important;
}

.ui.table {
  color: darkgrey !important;
}

/* Add Trip */
#add-trip-container {
  margin: 50px 0 0 150px;
}

/* Community */
#community-container {
  padding-top: 50px;
  padding-bottom: 150px;
  margin-left: 150px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#county-information {
  padding-top: 400px;
}

#map-button {
  margin-left: 74vw;
  margin-top: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}

/* Public Community Page */
#public-community-container {
  padding-top: 150px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.community-menu-item {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #000000 !important;
  font-size: 30px;
  padding-right: 30px;
}

.organization-name {
  font-size: 15px;
  font-family: "Noyh", "Barlow Semi Condensed", sans-serif;
  color: #44a047;
}

.organization-name:hover {
  color: #024731;
}

.organizations {
  padding-top: 10px;
  padding-bottom: 10px;
}

#community-engagement {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  text-align: center;
}

#community-engagement-header {
  color: #267cc1;
}

#community-engagement-paragraph {
  font-size: 15px;
}

#community-section {
  padding-top: 440px;
}

#community-nav {
  height: 120px;
  width: 100%;
  position: fixed;
  background: #ffffff;
  border-bottom: none;
  box-shadow: none;
}

.quick-access-container {
  position: relative;
  padding-bottom: 150px;
  background: url("/images/OahuBackground.jpeg")  no-repeat fixed;
  background-size: 100% 100%;
}

.quick-access-grid{
  background-color: white;
}
.quick-access-form{
  align-content: center;
  margin-right: 265px;
  margin-left: 265px;
  padding-top: 150px;
}

#quick-access-navbar{
  position: absolute !important;
  padding-bottom: 35px;
  height: 100px;
  width: 100%;
  background: transparent;
  border-bottom: none;
  box-shadow: none;
}

#quick-access-footer{
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 15px 0;
}

#card-bottom {
  background-color: #1C7DC1;
  color: white;
}

/* Compare */
#compare-container {
  margin: 50px 0px 0px 150px;
  padding: 30px;
  font-size: 20px;
  line-height: 1.5 !important;
}

.slider-information-side {
  font-size: 1.75rem;
  padding: 20px !important;
  margin-top: 50px;
}

.compare-slider {
  background-color: #FFFFFF !important;
}

.cost-per-outer-card {
  padding: 20px !important;
  margin: 50px 20px 0px 20px !important;
}

.cost-per-inner-cards {
  /*margin-top: 10px !important;*/
}

.cost-per-header{
  margin: 75px 0px 10px 0px !important;
  font-size: 1.75rem !important;
}