/*
  HEI's blue color codes: #0c4d85 (header/footer), #177fc5 (text)
  HEI's font family: "Barlow Semi Condensed", sans-serif;

  DARK MODE (lightest -> darkest)
  213c5c
  1d3652
  13324E
  002A47 (background)
 */

.dark {
  background-color: #002A47;
  color: #FFFFFF;
}

body {
  background-color: #FFFFFF;
}

/* SIDEBAR CSS */
#sidebar {
  background-color: inherit;
  color: inherit;
}

.sidebar-item {
  color: #0c4d85;
}

.light-sidebar-item {
  color: #0c4d85 !important;
}

.dark-sidebar {
  background-color: #0c4d85 !important;
}

.dark-sidebar-item {
  color: #FFFFFF !important;
  border-top-color: red !important;
}

/* LANDING PAGE */
#landing-nav {
  height: 100px;
  width: 100%;
  position: fixed;
  background: #ffffff;
  border-bottom: none;
  box-shadow: none;
}
.fake-menu-item {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: black !important;
  font-size: 30px;
  padding-right: 30px;
}

#landing {
  padding-top: 120px;
  /*color: white;*/
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 30px;
  /*background-size: cover;*/
}

#landing-info1 {
  height: 425px;
  padding: 50px;
  background: #ffffff;
}

.landing-info-center {
  text-align: center;
}

#landing-bottom {
  padding-top: 150px;
}

#greet {
  height: 500px;
  padding: 50px;
  background: url("/images/OahuBackgroundBrighter2.jpeg") no-repeat center center;
  background-size: cover;
}

#sign {
  padding-top: 180px;
  width: 100%;
  height: 100vh;
  background-color: rgba(12, 77 ,133, 0.8);
  font-family: "Barlow Semi Condensed", sans-serif;
}

#dashboard-container {
  /*padding-top: 20px;*/
  padding: 50px 100px;
  margin-left: 150px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: inherit;
}

#dashboard-total-row {
  height: 10%;
}

#compare-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 200px;
  padding: 15px 0;
}

#signin-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  width: 100%;
  bottom: 0;
  position: absolute;
  padding: 15px 0;
}

#community-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  width: 100%;
  bottom: 0;
  margin-top: 200px;
  padding: 15px 0;
}

#landing-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: absolute;
  width: 100%;
  padding: 15px 0;
}

#landing-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: absolute;
  width: 100%;
  padding: 15px 0;
}

#sign-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
}

/* DASHBOARD */
.dashboard-statistic {
  color: inherit !important;
}
/*
#dashboard-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-top: 200px;
  padding: 15px 0;
}
*/

.link {
  color: #177fc5;
}

/* DAILY */
.light-daily {
  color: #0c4d85 !important;
}

.dark-daily {
  color: #FFFFFF !important;
}

#daily-container {
  font-size: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100vh !important;
  color: inherit;
  margin-left: 150px !important;
}

#daily-top {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 30px;
  margin: 0 !important;
  background-color: inherit;
}

.dark-daily-top {
  background-color: #1d3652 !important;
}

#daily-add-button {
  color: #FFFFFF !important;
  font-size: 20px !important;
  background-color: #0c4d85 !important;
}

#daily-date-button {
  color: inherit;
  background-color: inherit;
  /*padding: 35px !important;*/
  margin: 0 !important;
  /*font-weight: 900 !important;*/
}

#daily-statistic-label {
  font-size: 18px;
  color: inherit;
}

.daily-table {
  padding-bottom: 15px;
  margin: 0 !important;
  background-color: inherit !important;
  color: inherit !important;
}

.dark-daily-table {
  background-color: inherit !important;
}

.light-daily-table {
  color: #a9a9a9 !important;
}

.daily-table-header {
  color: inherit;
  background-color: inherit;
}

.light-daily-table-header {
  color: #1C7DC1 !important;
}

.dark-daily-table-header {
  color: #FFFFFF !important;
  background-color: #13324E !important;
}

.daily-arrow-button {
  font-size: 16px !important;
  color: inherit;
  background-color: inherit !important;
}

/*
 .daily-save-button {
  color: #FFFFFF !important;
  font-size: 16px !important;
  background-color: #0c4d85 !important;
}

.daily-date-item {
  padding: 0 !important;
  color: #0c4d85 !important;
  /*font-weight: 900 !important;
}

.daily-today-button {
  color: #FFFFFF !important;
  font-size: 16px !important;
  background-color: #0c4d85 !important;
}


.daily-header-sums {
  color: #0c4d85;
  font-weight: 900 !important;
}

.monthly-sum {
  font-size: 35px;
  font-weight: 700 !important;
}

#daily-footer {
  background-color: #093c69;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  color: white !important;
  width: 100%;
  bottom: 0px;
  padding: 15px 0;
}
 */

/* ADD TRIP */
#add-trip-container {
  margin: 50px 0 0 150px;
}

.add-trip-header {
  color: inherit !important;
}

.add-trip-form {
  background-color: inherit;
  color: inherit;
}

.dark-trip-form {
  background-color: #213c5c !important;
}

.ui.form .field > label {
  color: inherit !important;
}

/* Community */
#community-container {
  padding-top: 50px;
  padding-bottom: 150px;
  margin-left: 150px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#county-information {
  padding-top: 400px;
}

#map-button {
  margin-left: 74vw;
  margin-top: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}

/* Public Community Page */
#public-community-container {
  padding-top: 150px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.community-menu-item {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #000000 !important;
  font-size: 30px;
  padding-right: 30px;
}

.organization-name {
  font-size: 15px;
  font-family: "Noyh", "Barlow Semi Condensed", sans-serif;
  color: #44a047;
}

.organization-name:hover {
  color: #024731;
}

.organizations {
  padding-top: 10px;
  padding-bottom: 10px;
}

#community-engagement {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  text-align: center;
}

#community-engagement-header {
  color: #267cc1;
}

#community-engagement-paragraph {
  font-size: 15px;
}

#community-section {
  padding-top: 440px;
}

#community-nav {
  height: 120px;
  width: 100%;
  position: fixed;
  background: #ffffff;
  border-bottom: none;
  box-shadow: none;
}

#calendar-container {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
}

#calendar-form {
  margin-top: 25px;
  margin-left: 300px;
}

#defaultButton {
  margin-left: 600px;
}

.quick-access-container {
  position: relative;
  padding-bottom: 150px;
  background-color: #FFFFFF;
  background-size: 100% 100%;
}

.quick-access-grid{
  background-color: white;
  box-shadow: 10px 10px 5px darkgrey;
  outline: grey solid 1px;
  max-width: 1000px;
}
.quick-access-form{
  align-content: center;
  justify-content: center;
  margin-right: 265px;
  margin-left: 265px;
  padding-top: 50px;
}

#card-bottom {
  background-color: #1C7DC1;
  color: white;
}

/* COMPARE */
#compare-container {
  margin: 50px 0px 0px 150px;
  padding: 30px;
  font-size: 20px;
  line-height: 1.5 !important;
}

#compare-car {
  color: inherit !important;
}

#compare-slider-car-side {
  background-color: #FFFFFF;
}

#compare-slider-information-side {
  font-size: 1.75rem;
  padding: 20px !important;
  margin-top: 50px;
}

.compare-cost-per-inner-card {
  background-color: inherit !important;
}

.compare-slider {
  background-color: inherit !important;
}

.cost-per-outer-card {
  padding: 20px !important;
  margin: 50px 20px 0px 20px !important;
}

.cost-per-header{
  margin: 75px 0px 10px 0px !important;
  font-size: 1.75rem !important;
  color: inherit !important;
}

/* USER COMMUNITY */
#community-bottom-header {
  color: inherit;
}

.dark-community {
  color: #FFFFFF !important;
}

.community-statistic {
  color: inherit !important;
}

.ui.progress > .label {
  color: inherit !important;
}

.community-card {
  background-color: inherit;
}

.dark-community-card {
  background-color: #213c5c !important;
}

.community-card-header {
  padding-left: 10px;
  color: #4183C4;
}

.dark-community-card-header {
  color: #FFFFFF !important;
}

.community-button {
  background-color: #1C7DC1 !important;
  color: #FFFFFF !important;
}

.community-modal {
  background-color: inherit !important;
}

/* ADMIN */
#admin-container {
  margin-left: 150px !important;
}
#admin-header {
  color: inherit;
}

#admin-table {
  color: inherit;
}

.dark-admin-table {
  background-color: #13324E !important;
}

.admin-table-headers {
  color: inherit !important;
}

.dark-admin-table-headers {
  background-color: #1d3652 !important;
}

  /* GENERAL CARD */
.dark-card {
  background-color: #213c5c !important;
  color: inherit !important;
}

.card-header {
  padding-left: 1rem;
  color: #4183C4;
}

.dark-card-header {
  color: #FFFFFF !important;
}

.card-button {
  background-color: #1C7DC1 !important;
  color: #FFFFFF !important;
}

.card-modal {
  background-color: inherit !important;
}