/*
  HEI's blue color codes: #0c4d85 (header/footer), #177fc5 (text)
  HEI's font family: "Barlow Semi Condensed", sans-serif;
 */

/* landing page CSS */
#landing-nav {
  height: 100px;
  width: 100%;
  position: fixed;
  background: transparent;
  border-bottom: none;
  box-shadow: none;
}
.fake-menu-item {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #FFFFFF !important;
  font-size: 30px;
  padding-right: 50px;
}
.fake-menu-item:after {

}
#landing {
  padding-top: 150px;
  padding-bottom: 150px;
  color: #FFFFFF;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 30px;
  background: url("/images/OahuBackground.jpeg")  no-repeat fixed;
  background-size: 100% 100%;
}
#landing-bottom {
  padding-top: 150px;
}

/* dashboard page css */
#dashboard-container {
  padding-top: 120px;
  padding-bottom: 150px;
  background: url("/images/OahuBackground.jpeg")  no-repeat fixed;
  background-size: 100% 100%;
}
/****************************/

#sign {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: rgba(12, 77 ,133, 0.8);
  font-family: "Barlow Semi Condensed", sans-serif;
}

#footer {
  background-color: #0c4d85;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white !important;
  padding: 0 !important;
}

.link {
  color: #177fc5;
}


